Removing .fibdrv.ko.cmd
Removing .fibdrv.mod.cmd
Removing .fibdrv.mod.o.cmd
Removing .fibdrv.o.cmd
Removing Module.symvers
Removing a.out
Removing client
Removing client-plot
Removing clz_test
Removing fibdrv.ko
Removing fibdrv.mod
Removing fibdrv.mod.o
Removing fibdrv.o
Removing modules.order
Removing out
Removing out_plot
Removing out_plot_clz
Removing plot_clz_test.png
Removing plot_output.png
